$font-base: 1.05rem;
$color-primary: white;
$color-secondary: rgba(255, 255, 255, .9);
$bg-main: #222;
$bg-incomplete: #FF1265;
$bg-complete: #00AF59;
$bg-body: #313132;
$main-shadow: rgba(0, 0, 0, .7);