@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  background: $bg-body;
  font-family: 'Roboto', sans-serif;
  font-size: $font-base;
}

.main {
  width: 420px;
  height: 620px;
  background: $bg-main;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 20px solid $bg-main;
  overflow-y: scroll;
  box-shadow: 0px 5px 5px 1px $main-shadow;

  &::-webkit-scrollbar {
    display: none;
  }

  .header {
    position: sticky;
    top: 0;
    background: $bg-main;
    padding-bottom: $font-base;

    .title {
      font-size: $font-base * 2 !important;
      color: $color-primary !important;
      position: sticky;
      top: 0;
    }
  }

  .task {
    width: 100%;
    padding: 15px 10px;
    font-size: $font-base;
    color: $color-secondary;
    margin: 10px 0;
    cursor: pointer;
  }
}